---
layout: default
title: Photography themes
---
<div class="results-wrapper">	
	<div class="sidebar">		
		{% include side-nav.html %}
	</div>
	<div class="detail-panel">
		<div class="detail-content">
			<div class="detail-content-heading">
				Theme of the week
			</div>
			{% include featured-theme.html %}
		</div>
		<div class="detail-content">
			<div class="detail-content-heading">
				{{ page.title }}
			</div>
			{% include fetch-items-by-category.html selector = 'photography' %}
		</div>
	</div>
</div>