%button {
	padding: 10px;
	line-height: 5px;
	position: relative;
	margin: 0 5px 20px 0;
	color: $button-fg-color;
	border: 1px solid #EEEEEE;
	text-decoration: none;
	letter-spacing: 1px;
	border-bottom-width: 2px;
	display: inline-block;

	@include border-radius(.2em);
	@include box-shadow(1px, 1px, 3px, $button-shadow-color);
	@include font-size(12px);

	&:hover, &:focus {
		@include transition(background 0.2s);    	   
	}

	&:active {
		@include transform(translateY(1px));
	}
}

.btn {
	@extend %button;	
}

.btn-secondary {
	border-color: $button-secondary;
	background: opacity($button-secondary);	

	&:hover, &:focus {
		border-color: darken($button-secondary, 5%);
		background: opacity(darken($button-secondary, 5%));		
	}
}

.btn-important {
	border-color: $button-error;	
	background: opacity($button-error);	

	&:hover, &:focus {
		border-color: darken($button-error, 5%);
		background: opacity(darken($button-error, 5%));		
	}
}
