---
layout: default
title: Free themes
---
<div class="results-wrapper">	
	<div class="sidebar">		
		{% include side-nav.html %}
	</div>
	<div class="detail-panel">
		<div class="detail-content">
			<div class="detail-content-heading">
				Theme of the week
			</div>
			{% include featured-theme.html %}
		</div>
		<div class="detail-content">
			<div class="detail-content-heading">
				{{ page.title }}
			</div>
			<div class="results-list">
				{% for post in site.posts %}
					{% if post.options != null and post.options != empty and post.options contains 'Free'%}
						<div class="result-list-row">						
							{% include result-item.html post=post %}						
						</div>					
					{% endif %}
    			{% endfor %}					
			</div>
		</div>
	</div>
</div>