---
---

@import "helpers/all";

@import "base/all";

@import "modules/all";

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Change Mobile Safari Highlight Color with CSS
  -webkit-tap-highlight-color: transparent;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  background-color: $body-bg;
  color: $body-text;
  overflow-y: scroll;
}

img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: $color-1;
  text-decoration: none;
}

div.wc-container {
  width: 90%;
  max-width: $L; // see breakpoints in _sass/partials/_layout.scss
  margin: 0 auto;  
  &::after { /* Clearfix */
        content: '';
        display: table;
        clear: both;
  }
}

.wc-img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center center;
}



/*
 * Main header wrapper.
 */

#wc-main-header {
  // background-color: darken($body-bg, 8%);
  // border-top: 1px solid darken($body-bg, 12%);
  background-color: $color-white;

  background-color: darken($body-bg, 4%);
  border-bottom: 1px solid darken($body-bg, 12%);
  height: $header-height-S;  
  position: relative;
  width: 100%;
  @include MQ(M) {
    height: $header-height-M;
  }
}

/*
 * Logo
 */
#wc-logo {
  float: left;  
  margin-top: 9px;
  img {
    display: block;        
    max-height: $header-height-S - 20;    
    @include MQ(M) {
      max-height: $header-height-M;      
    }  
  }
}

.wc-main-nav {
  height: $header-height-S;
  cursor: pointer;
  width: 100%;

  .nav-trigger {    
    right: 0;
    display: block;
    float:right;
    padding-top: 5px;
    width: 20px;
    height: 44px;

    @include MQ(M) {      
      display: none;
    }
    span {
      /* the span element is used to create the menu icon */
        position: absolute;
        display: block;
        width: 20px;
        height: 2px;
        background: $color-black;
        top: 25px;    
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        transition: background 0.3s;

         &:before, &:after {
            content: '';
            position: absolute;
            left: 0;
            background: inherit;
            width: 100%;
            height: 100%;

            /* Force Hardware Acceleration in WebKit */
         
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            -webkit-transition: -webkit-transform 0.3s, background 0s;
            -moz-transition: -moz-transform 0.3s, background 0s;
            transition: transform 0.3s, background 0s;
        }
         &::before {
            top: -6px;
        }

        &::after {
            bottom: -6px;
        }
    }
  }
  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;        
    top: $header-height-S + 1;
    display: none;
    @include MQ(M) {
      display: block;
    }
  }

  a {
    position: relative;
    display: block;
    height: $header-height-S;
    line-height: $header-height-S;
    padding-left: 5%;
    background: $color-white;
    border-bottom: 1px solid #E7E7E7;
    text-transform: uppercase;
    color: $color-1;

    @include font-size(13px);
    z-index: 2;
    @include MQ(M) {
      border-bottom:none;
      @include font-size(14px);
    }

     .no-touch &:hover {
        color: $color-2;
      }
  }

  @include MQ(M) {
    position:relative;
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
    float: right;
    ul {
      position: static;
      width: auto;
      @include transform(translateY(0));
      line-height: $header-height-M;

      &.is-visible {
        @include transform(translateY(0));
      }
    }

    li {
      display: inline-block;
      margin-left: 1em;
    }

    a {
      display: inline-block;
      height: auto;
      line-height: normal;
      background: transparent;
      padding: .6em 0em;
      border-top: none;
      color: $color-1;
      @include font-size(14px);

     
    }
    li.active {
      a {color: $color-2;}
    }
  }
}


/**
 *
 * Footer block
 *
 */
.footer-section {
    background-color: darken($body-bg, 8%);
    border-top: 1px solid darken($body-bg, 12%);
    padding: 20px 0;
    height:100%;   
    h4 {
        position: relative;
        padding: 20px 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include font-size(12px);
        @include MQ(M) {
          @include font-size(13px);          
        }
    }
    h4.title::before {
        content: '';
        position: absolute;
        top: 0;
        width: 2rem;
        height: 2px;
        background: $color-2;
        overflow: hidden;
    } 

    address,p { 
      @include font-size(11px);
      line-height: 1.5; 
      padding-right: 12px;
      letter-spacing: 1px;

      @include MQ(M) {
        line-height: 1.7;
        @include font-size(12px);
      }
    }

    .column {
        float:left;              
        @include column(.5);
        &:nth-child(1) {
            @include column(1);
        }
        &:nth-child(2) {
            @include column(1)
        }
        &:nth-child(3) {
            margin-top: 15px;
            @include column(1);
        }        
        @include MQ(M) {          
          @include column(.3333); 
          &:nth-child(n) {
            margin-top: 0;            
            @include column(.3333);
          }
        }
    }

    p.copyright {
        @inclue clearfix;
        width:100%;
        display: block;
        overflow: hidden;
        @include font-size(11px);
        padding-top: 10px;
        line-height: 1.5;
        @include MQ(M) {
          @include font-size(12px);
          line-height: 1.7;          
          padding-top: 5px;
          padding-bottom: 5px;
        }
    }

    a {
        border-bottom: 1px solid transparent;
        text-decoration: none;
        color: $color-1;        
        @include transition(all 0.2s);
    }
    
    a:hover {
        border-bottom: 1px solid $color-1;
    }

    ul.list-inline {
        font-size: 11px;
        display: inline-block;
        /* the key bit */
        *display: inline;
        /* IE7 hack */
        *zoom: 1;
        /* IE7 hack */
        position: relative;
        li {
            dispay:inline;
            float: left;            
            margin-left: 5px;
        }
        li:after {
            content: '';
            width: 6px;
            height: 6px;
            display: inline-block;
            background: lighten($body-text, 30%);
            border-radius: 50%;
            margin-left: 2px;
        }
        li:last-child:after {
            content: "";
            width: 0;
            height: 0;
        }
        li:first-child {
            margin-left: 0;
        }
    }

    ul.social-media {
      text-align:left;
      padding: 0 0 10px 0;
      li { 
        display:inline-block;
        margin-right: 5px;
      }
      li > a {
        width: 32px;
        height: 32px;
        background: $color-white;
        background-image: url("./images/socials-icons.svg");
        background-size: 224px 64px;
        @include border-radius(.25em);
        @include transition(background-color 0.2s);
        border-bottom-color: transparent;

        &:hover {
          background-color: $color-1;
        }
      }
    
      li a.twitter {
        background-position: 0 0;
          &:hover {
            background-position: 0 -32px;
        } 
      }

      li a.github {
        background-position: -32px 0;
        &:hover {
          background-position: -32px -32px;
        }
      }

      li a.facebook {
        background-position: -64px 0;
        &:hover {
          background-position: -64px -32px;
        }
      }

      li a.dribble {
        background-position: -96px 0;
        &:hover {
          background-position: -96px -32px;
        }
      }

      li a.google {
        background-position: -128px 0;
        &:hover {
          background-position: -128px -32px;
        }
      }

      li a.pinterest {
          background-position: -196px 0;
          &:hover {
            background-position: -196px -32px;
          }
        }
      }   
} 

.page-main-content {
  display: block;
  position:relative;
  clear: left;  
  padding: 1em 0;
  @include MQ(M) {
    padding: 1.5em 0;
    min-height: 400px;
  }
}

.page-panel {  
  background: $color-white;
  @include border-radius(.2em);
  @include MQ(M) {
    min-height: 400px;
  }
  border: 1px #ddd solid;
  @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.04)) ;
}
.page-panel .panel-heading {
  background-color: #f5f5f5;
  border-bottom: 1px #ddd solid;
  padding: 1em;
  @include border-radius(.2em .2em 0 0 );
}
.page-panel .panel-body {
  padding: 1em;
  background-color: $color-white;  
}

.page-panel .panel-body p {
  line-height: 1.6;
}
.page-panel .panel-body a{
  @extend %links;
}


p.lead {  
  @include font-size(18px);
  @include MQ(M) {
    @include font-size(25px);
  }
}

blockquote {
  border-left: 2px solid $color-1;
  background-color: #f5f5f5;
  padding: 15px 15px; 
  margin-bottom: 20px;  

  @include border-radius(0 .2em .2em 0px);
}

blockquote p {
  @include font-size(14px);
  margin-bottom: 0;
  padding-bottom: 0;
}

blockquote a {
  @extends %links;
}

.results-wrapper {
  display: block;
  width: 100%;
  position:relative;
}

.results-wrapper .sidebar, .results-wrapper .detail-panel {
  @include column(1);
  padding-bottom: .5em;
  @include MQ(M) {
    padding-bottom: 1.5em;
  }
}

.results-wrapper .sidebar {  
  @include MQ(M) {  
    @include column(.25);
  }
}
.results-wrapper .detail-panel {
  @include MQ(M) {  
    @include column(.75);
  }
}

.results-wrapper .sidebar .sub-nav-panel {
  overflow: hidden;
  @include MQ(M) {
    max-width: 90%;  
  }
}

.results-wrapper .sidebar .sub-nav-panel .sub-nav-heading {
  background: $color-1;
  border-left: 1px $color-1 solid;
  border-right: 1px $color-1 solid;
  color: $color-white;
  @include border-radius(.2em .2em 0 0);
  @include font-size(13px);
  position: relative;
  a {
    display: block;
    padding: 1em;
    color: $color-white;
  } 
  span {position:absolute;top: 35%;right:1em;}

  &.non-active-heading {
    background: #E6E6E6;
    border-left: 1px #E6E6E6 solid;
    border-right: 1px #E6E6E6 solid;
    color: #444;
    a {
      color: #444;
    }
  }
  &.active-heading {
    background: $color-1;    
    color: $color-white;
    a {
      color: $color-white;
    }
  }
}

.side-nav-ul-wrapper {
  
}
.remove-border-radius-bottom {
  @include border-radius(.2em .2em 0 0);
}
.results-wrapper .sidebar .sub-nav-panel ul.collapse-in {
  display: none;
}
.results-wrapper .sidebar .sub-nav-panel ul.collapse-out {
  display: block;
}
.results-wrapper .sidebar .sub-nav-panel .sub-nav-wrapper {
  margin-bottom: 5px;
}
.results-wrapper .sidebar .sub-nav-panel ul {
  background: $color-white;  
  border-bottom: 1px solid #E4E4E4;
  @include box-shadow(0, 1px, 1px, rgba(0,0,0,0.1));
  @include border-radius(0 0 .3em .3em);
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
    -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;


  li {
    line-height: 1em;
    padding: 12px;
    border-bottom: 1px solid #E4E4E4;
    &.active {
      a {
        color: $color-2;  
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  li a {
    color: #7F868F;    
    @include font-size(13px);
    &:hover, &:focus {
      color: $color-2;
    }
  }
}

.results-wrapper .detail-panel .detail-content {
  max-width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  @include MQ(M) {
    padding-bottom: .5em;    
  }

}

.featured-theme {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden;
}
.featured-theme .featured-theme-info, .featured-theme .featured-theme-img {
  @include column(1);
}

.featured-theme .featured-theme-info {
  h1 { @include font-size(20px);color: #444; font-weight: 600;}
  strong, p {
     @include font-size(13px);     
     line-height: 1.6;
  }
  p { 
    padding: .5em 0;
    @include MQ(M) {
      padding: 1em 0;
    }
  }
  strong {
    color: $color-2;
  }

}

.featured-theme .featured-theme-info {
  padding-top: .5em; 
  @include MQ(M) {   
    padding-top:0; 
    @include column(.35);
  }
}
.featured-theme .featured-theme-img {
  @include MQ(M) {  
    @include column(.60);
    padding-right: 20px;
  }
  img {
    display: block;
    @include border-radius(0 0 2px 2px);
  }

}

.results-wrapper .sidebar .side-heading-title {
  max-width: 100%;
  @include MQ(M) {
    max-width: 90%;
  }
}

.results-wrapper .sidebar .side-heading-title, 
  .results-wrapper .detail-panel .detail-content .detail-content-heading {
  @include font-size(12px);

  margin-bottom: 10px;
  padding-top: 10px;
  line-height: 1.5em;
  // border-bottom: 2px solid #d4d4d4;
  color: #444;
  text-transform: uppercase;

   &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 2rem;
        height: 2px;
        background: $color-2;
        overflow: hidden;
    } 

    @include MQ(M) {
      @include font-size(13px);
    }
}
