---
---

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 * Layouts..............Layouts.
 *
 * GENERIC
 * Reset.css............Rest styles.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Body-styles..........Generic Body styles
 * Headings.............H1–H6 & Paragraph styles.
 * Anchor...............Common anchor styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 *
 * HELPERS
 * Text.................Text helpers.
 */


/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

/** 
 * Import colors, fonts etc...
 */

@import "partials/variables";





/*------------------------------------*\
  #TOOLS
\*------------------------------------*/

/** 
 * Import custom mixins
 */

@import "partials/mixins";

/**
 * Import layout mixin
 */
@import "partials/layout";





/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/**
 *
 * Reset styles thanks to meyerweb.com.
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 *
 */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Box sizing override
 */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}





/*------------------------------------*\
  #BASE
\*------------------------------------*/

/*
 * Generic Body styles
 */
body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }  
}

/* 
 * Typography styles 
 */

h1, h2, h3, h4, h5, h6 { 
  line-height: 1.6;
  font-family: $primary-font;
}

h1 {
  @include font-size(20px);
  @include MQ(M) {
    @include font-size(36px);
  }
}

h2 {
  @include font-size(18px);
  @include MQ(M) {
    @include font-size(31px);
  }
}

h3 {
  @include font-size(15px);
  @include MQ(M) {
    @include font-size(30px);
  }
}

h4 {
  @include font-size(16px);
  @include MQ(M) {
    @include font-size(24px);
  }
}

h5 {
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(22px);
  }
}

h6 {
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(19px);
  }
}

p {
  line-height: 1.6;
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(18px);
  }
}

/*
 * Anchor styles
 */ 
a {
  background: transparent;
  &:active, &:hover, &:focus {
    outline: 0;
  }
}

/*
 * Responsive images
 */
img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

/*
 * Default horizontal style
 */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
}





/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/





/*
 * Main header wrapper.
 */

#wc-main-header {
  // border-top: 2px solid $color-2;
  height: $header-height-S;  
  position: absolute;
  top:0;
  z-index: 2;
  width: 100%;
  @include MQ(M) {
    height: $header-height-M;
  }
}

/*
 * Hero unit wrapper on the home page.
 */
div.hero-unit {
  color: $color-4;  
  padding: 80px 25px;
  text-align: center;

  @include MQ(M) {  
    padding: 200px 50px 150px 50px;
  }
  
  h1 {    
    display: none;
    
    @include MQ(M) {
      @include font-size(50px);
    }
  }  
}

/*
 * Fixed background wrapper 
 */
.wc-fixed-bg {
  height: 200px;
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  @include MQ(M) {
    height: 700px;
    background-attachment: fixed;
  }
}

.wc-fixed-bg h1, .wc-fixed-bg h2{
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: $L;
  text-align: center;
  text-shadow: #777 0 1px 9px;
  color: $color-white;
  @include MQ(M) { 
    @include font-size(45px);
    padding: 45px;
  }
}

.wc-fixed-bg h1 {
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2rem;
    height: 2px;
    background: $color-white;
    margin-left: -1rem;
    overflow: hidden;
    top: -10px;

    @include MQ(M) {
      top: 10px;
    }
  } 

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 2rem;
    height: 2px;
    background: $color-white;
    margin-left: -1rem;
    overflow: hidden;
    bottom: -10px;

    @include MQ(M) {
      bottom: 10px;
    }
  }
}

.wc-fixed-bg.wc-bg-1 {
  background-image: url("./images/home-hero-bg.jpg");
}
.wc-fixed-bg.wc-bg-2 {
  background-image: url("./images/home-hero-bg-2.jpg");
}

/*
 * Latest resources wrapper
 */
.latest-recources {
  padding: 3em 0; 
  h2 { 
    text-align:center;
  }
}

.wc-container {
    width: 90%;
    max-width: $L; // see breakpoints in _sass/partials/_layout.scss
    margin: 0 auto;

    &::after { /* Clearfix */
        content: '';
        display: table;
        clear: both;
    }
}

.wc-container-small {
    width: 90%;
    max-width: $M; // see breakpoints in _sass/partials/_layout.scss
    margin: 0 auto;

    &::after { /* Clearfix */
        content: '';
        display: table;
        clear: both;
    }
}

.wc-img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center center;
}

#wc-logo {
  float: left;  
  margin-top: 9px;
  img {
    display: block;        
    max-height: $header-height-S - 20;    
    @include MQ(M) {
      max-height: $header-height-M;      
    }  
  }
}





/**
 * 
 * Post thumbnails
 *
 */
.wc-gallery-container {
  padding: 3em 0;
  width: 90%;
  max-width: $L; // breakpoints inside partials > _layout.scss
  margin: 0 auto;
  padding-top: 20px; // just for the demo 

  &::after { /* clearfix */
      content: '';
      display: table;
      clear: both;
  }

  article {
    margin-bottom: 1.5em;
    box-shadow: 0 1px 2px rgba($color-black, .2);
    
    .frame {
      background-color: $color-7;
      height: 7px;
      padding: 10px 8px 12px 8px;
      -webkit-border-radius: .25em .25em 0 0;
      border-radius: .25em .25em 0 0;
      display: block;
      width: 100%;
    }

    .frame .dots {
      float: left;
      height: 6px;
      width: 6px;      
      background-color: #BDBDBD;
      margin-right: 4px;      
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      &:nth-child(1) { background-color:#FF4E3D; }
      &:nth-child(2) { background-color: $color-2; }
      &:nth-child(3) { background-color: $color-1; }
    }

    img {
      width: 100%;
      display: block;
      // -webkit-border-radius: .25em .25em 0 0;
      // border-radius: .25em .25em 0 0;
      @include transition(opacity, 0.2s);
    }   

    footer {
      display: none;
      background-color: $color-6;
      padding: 10px;          
      -webkit-border-radius: 0 0 .25em .25em ;
      border-radius: 0 0 .25em .25em;
    }

    a { 
      color: $color-white;
      @include transition(all, 0.2s);
      text-decoration: none;
      &:hover, &:focus, &:active {
        // opacity: .8;
        // img {
          // opacity: .9;
        // }
      } 
    }

    footer h3 { 
      @include font-size(13px); 
      font-weight: 600;
    }

    footer p { 
      @include font-size(13px); 
    }
  } 

  @include MQ(M) {
    article {
      @include column(.48); // see how this mixin works inside partials > _layout.scss
      margin-bottom: 2em;
      margin-right: 4%;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  @include MQ(L) {
    article {
      @include column(.31);
      margin-bottom: 2.5em;
      margin-right: 3.5%;

      &:nth-child(2n) {
        margin-right: 3.5%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}


/**
 *
 * Footer block
 *
 */
.footer-section {
    background-color: $footer-bg;
    border-top: 1px solid $color-5;
    padding: 20px 0;
    height:100%;   
    color: $footer-fg;
    h4 {
        @include font-size(15px);
        position: relative;
        padding: 20px 0;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    h4.title::before {
        content: '';
        position: absolute;
        top: 0;
        width: 2rem;
        height: 2px;
        background: $color-2;
        overflow: hidden;
    } 

    address,p { 
      @include font-size(12px);
      line-height: 1.7; 
      padding-right: 12px;
      letter-spacing: 1px;
    }

    .column {
        float:left;              
        @include column(.5);
        &:nth-child(1) {
            @include column(.5);
        }
        &:nth-child(2) {
            @include column(.5)
        }
        &:nth-child(3) {
            margin-top: 20px;
            @include column(1);
        }        
        @include MQ(M) {          
          @include column(.3333); 
          &:nth-child(n) {
              @include column(.3333);
          }
        }
    }

    p.copyright {
        @inclue clearfix;
        width:100%;
        font-size: 11px;
        padding-top: 20px;
    }

    a {
        border-bottom: 1px solid rgba(198, 70, 61, 0);
        text-decoration: none;
        color: $color-6;        
        @include transition(all 0.2s);
    }
    
    a:hover {
        border-bottom: 1px solid $color-6;
    }

    ul.list-inline {
        padding-top: 10px;
        font-size: 11px;
        display: inline-block;
        /* the key bit */
        *display: inline;
        /* IE7 hack */
        *zoom: 1;
        /* IE7 hack */
        position: relative;
        li {
            dispay:inline;
            float: left;            
            margin-left: 5px;
        }
        li:after {
            content: '';
            width: 6px;
            height: 6px;
            display: inline-block;
            background: $color-5;
            border-radius: 50%;
            margin-left: 2px;
        }
        li:last-child:after {
            content: "";
            width: 0;
            height: 0;
        }
        li:first-child {
            margin-left: 0;
        }
    }

    ul.social-media {
        text-align:left;
        li { display:inline-block;}
        li > a {
            width: 32px;
            height: 32px;
            background-color: rgba($color-7, .7);
            background-image: url("./images/socials-icons.svg");
            background-size: 224px 64px;
            border-radius: 0.25em;
            @include transition(background-color 0.2s);
            border-bottom: none;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

            &:hover, &:focus, &:active {
              background-color: $color-6;
            }
        }
        
        li a.twitter {
            background-position: 0 0;
            &:hover {
                background-position: 0 -32px;
            } 
        }

        li a.github {
            background-position: -32px 0;
            &:hover {
                background-position: -32px -32px;
            }
        }
        li a.facebook {
            background-position: -64px 0;
            &:hover {
                background-position: -64px -32px;
            }
        }
        li a.dribble {
            background-position: -96px 0;
            &:hover {
                background-position: -96px -32px;
            }
        }
        li a.google {
            background-position: -128px 0;
            &:hover {
                background-position: -128px -32px;
            }
        }
        li a.pinterest {
            background-position: -196px 0;
            &:hover {
                background-position: -196px -32px;
            }
        }
    }   
}


strong { font-weight: 600; }
.to-upper { text-transform: uppercase;}


/*
 * Button styles
 */
.btn {
  margin-top: 15px;
  display: inline-block;
  border-radius: 0.25em;
  padding: 10px;
  font-weight: bold;
  border-bottom: none !important;
  text-decoration: none;

  @include font-size(13px);

  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;


  &:active {
    // @include transform(scale(0.96));
  }
}
.btn.red {
  background: $color-3;
  color: $color-white;
}
.no-touch .btn.red:hover {
  background-color: lighten($color-3, 10%);
}
