---
---

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 * Layouts..............Layouts.
 *
 * GENERIC
 * Reset.css............Rest styles.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Body-styles..........Generic Body styles
 * Headings.............H1–H6 & Paragraph styles.
 * Anchor...............Common anchor styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 *
 * HELPERS
 * Text.................Text helpers.
 */


/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

/** 
 * Import colors, fonts etc...
 */

@import "partials/variables";





/*------------------------------------*\
  #TOOLS
\*------------------------------------*/

/** 
 * Import custom mixins
 */

@import "partials/mixins";

/**
 * Import layout mixin
 */
@import "partials/layout";





/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/**
 *
 * Reset styles thanks to meyerweb.com.
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 *
 */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Box sizing override
 */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}





/*------------------------------------*\
  #BASE
\*------------------------------------*/

/*
 * Generic Body styles
 */
body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }  
}

/* 
 * Typography styles 
 */

h1, h2, h3, h4, h5, h6 { 
  line-height: 1.6;
  font-family: $primary-font;
}

h1 {
  @include font-size(20px);
  @include MQ(M) {
    @include font-size(36px);
  }
}

h2 {
  @include font-size(18px);
  @include MQ(M) {
    @include font-size(31px);
  }
}

h3 {
  @include font-size(15px);
  @include MQ(M) {
    @include font-size(30px);
  }
}

h4 {
  @include font-size(16px);
  @include MQ(M) {
    @include font-size(24px);
  }
}

h5 {
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(22px);
  }
}

h6 {
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(19px);
  }
}

p {
  line-height: 1.6;
  @include font-size(14px);
  @include MQ(M) {
    @include font-size(18px);
  }
}

/*
 * Anchor styles
 */ 
a {
  background: transparent;
  &:active, &:hover, &:focus {
    outline: 0;
  }
}

/*
 * Responsive images
 */
img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

/*
 * Default horizontal style
 */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
}





/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/





/*
 * Main header wrapper.
 */

#wc-main-header {
  border-top: 1px solid $color-2;
  height: $header-height-S;  
  position: absolute;
  top:0;
  z-index: 2;
  width: 100%;
  @include MQ(M) {
    height: $header-height-M;
  }
}

/*
 * Hero unit wrapper on the home page.
 */
div.hero-unit {
  color: $color-4;  
  padding: 80px 25px;
  text-align: center;

  @include MQ(M) {  
    padding: 200px 50px 150px 50px;
  }
  
  h1 {    
    display: none;
    
    @include MQ(M) {
      @include font-size(50px);
    }
  }  
}

/*
 * Fixed background wrapper 
 */
.wc-fixed-bg {
  height: 200px;
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  @include MQ(M) {
    height: 610px;
    background-attachment: fixed;
  }
}

.wc-fixed-bg h1, .wc-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: $L;
  text-align: center;
  text-shadow: #777 0px 0px 6px;
  color: $color-white;
  @include MQ(M) { 
    @include font-size(45px);
    padding: 45px;
  }
}

.wc-fixed-bg h1 {
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2rem;
    height: 2px;
    background: $color-white;
    margin-left: -1rem;
    overflow: hidden;
    top: -10px;

    @include MQ(M) {
      top: 10px;
    }
  } 

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 2rem;
    height: 2px;
    background: $color-white;
    margin-left: -1rem;
    overflow: hidden;
    bottom: -10px;

    @include MQ(M) {
      bottom: 10px;
    }
  }
}

.wc-fixed-bg.wc-bg-1 {
  background-image: url("./images/home-hero-bg.jpg");
}

/*
 * Latest resources wrapper
 */
.latest-recources {
  padding: 2em 0; 
  h2 { text-align:center; }
}

.wc-container {
    width: 90%;
    max-width: $L; // see breakpoints in _sass/partials/_layout.scss
    margin: 0 auto;

    &::after { /* Clearfix */
        content: '';
        display: table;
        clear: both;
    }
}

.wc-container-small {
    width: 90%;
    max-width: $M; // see breakpoints in _sass/partials/_layout.scss
    margin: 0 auto;

    &::after { /* Clearfix */
        content: '';
        display: table;
        clear: both;
    }
}

.wc-img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center center;
}

#wc-logo {
  float: left;  
  margin-top: 9px;
  img {
    display: block;        
    max-height: $header-height-S - 20;    
    @include MQ(M) {
      max-height: $header-height-M;      
    }  
  }
}


strong { font-weight: 600; }
.to-upper { text-transform: uppercase;}
