// Primary font used
$primary-font: "Roboto", sans-serif;
// $primary-font: "PT Sans", Helvetica, Arial, sans-serif;

// Variables related to button module.
$button-primary: #B7C11E;
$button-secondary: #23A38F;
$button-error: #F0563D;
$button-fg-color: #FFFFFF;
$button-shadow-color: rgba(0, 0, 0, .3);

$px-only:true;


// Heights
$header-height-S: 50px;
$header-height-M: 70px;

$body-text: #555555;
$body-bg: #EAEAEA;
// $body-bg: #FFF;

$color-1: #007786;
$color-2: #ef7f25;


$color-white: #FFFFFF;
$color-black: #000000;
