---
layout: default
---
<div class="results-wrapper post-view">	
	<h1 class="full-row">
		{{ page.title }}
		<small>
			Created by {{ page.author }} on 
			<a href="{{ post.themeHomePageUrl }}" class="bold">
				{{ page.themeHomePageName }}
			</a>
		</small>
	</h1>
	<div class="detail-panel">
		<div class="detail-content">			
			{% assign post = page %}
			<div class="theme-detail">
				<div class="theme-img-and-data">
					<div class="browser-frame-big">
						<span class="btn-set"></span>				
						<span class="textbar"></span>				
						<span class="menubar one"></span>				
						<span class="menubar two"></span>				
						<span class="menubar three"></span>				
					</div>
					<a href="#0">
						<img src="{{ "/thumbnails/" | append: post.thumbnail | prepend: site.baseurl | prepend: site.url }}">
					</a>
				</div>
				<div class="theme-info">
					<div class="detail-content-heading">
						Theme summary
					</div>
					<p>
						A <strong>{% if post.price != 0 %} premium {% else %} free {% endif %}
						theme</strong> suitable for 
						{% for category in post.categories %} 
							{% if category != 'featured'%}
								{% if forloop.last %}
								and <span class='bold'>{{ category }}</span>.
								{% else %}
								<span class='bold'>{{ category }}</span>
								{% endif %}
							{% endif %}
						{% endfor %}
						Created on {{ post.createdDate }}. You can {% if post.price != 0 %} 
						purchase {% else %} download {% endif %} it for {% if post.price != 0 %} post.price {% else %} free {% endif %} from <a href="{{ post.themeHomePageUrl }}" class="bold">{{ post.themeHomePageName }}</a>
					</p>		
					<div class="theme-navigate-buttons">
						<a class="btn btn-secondary"  href="{{ page.liveDemoUrl }}"
						 target="_blank">
							Live Demo	
						</a>
						<a class="btn btn-important" href="{{ page.downloadOrPurchaseUrl }}"
						 target="_blank">
							{% if page.price != 0 %}
								Purchase								
							{% else %}
								Download
							{% endif %}

						</a>
					</div>					
				</div>
			</div>
			<div class="theme-detail">
				<div class="theme-img-and-data">
					<div class="detail-content-heading">
						Brief Description
					</div>
					{{ content }}
				</div>
				<div class="theme-info"></div>
			</div>
		</div>
	</div>
	<div class="sidebar">		
		<div class="post-side-heading">
			Similar themes
		</div>

		<div class="similar-themes">
			{% for similarPost in site.related_posts limit:4 %}
				<div class="similar-theme">
					<a href="{{ similarPost.url | prepend: site.baseurl }}" class="thumbnail">
						<div class="browser-frame-small">
							<span class="btn-set"></span>				
							<span class="textbar"></span>				
							<span class="menubar one"></span>				
							<span class="menubar two"></span>				
							<span class="menubar three"></span>				
						</div>
						<img src="{{ "/thumbnails/" | append: similarPost.thumbnail | prepend: site.baseurl | prepend: site.url }}">
					</a>	
				</div>
			{% endfor %}
		</div>	
	</div>
</div>
