---
layout: default
title: News/Magazine themes
seoMeta: A showcase and a libaray of best news and magazine web templates/themes from webcreate. 
---
<div class="results-wrapper">	
	<div class="sidebar">		
		{% include side-nav.html %}
	</div>
	<div class="detail-panel">
		<div class="detail-content">
			<div class="detail-content-heading">
				Theme of the week
			</div>
			{% include featured-theme.html %}
		</div>
		<div class="detail-content">
			<div class="detail-content-heading">
				{{ page.title }}
			</div>
			<div class="results-list">				
				{% include fetch-items-by-category.html selector = 'news/magazine' %}
			</div>
		</div>
	</div>
</div>